@use '../../../../styles/unit' as u;

.Button {
  $_this: &;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: u.rem-calc(20 10);
  font-family: var(--font-work-sans);
  font-weight: 500;
  font-size: u.rem-calc(16);
  text-align: left;
  color: white;
  // border-bottom: u.rem-calc(1) solid #27374D;

  &_icon {
    display: block;
    width: u.rem-calc(32);
    height: u.rem-calc(32);
    margin-right: u.rem-calc(12);
    transition: transform 250ms ease;

    @at-root #{$_this}:hover & {
      transform: scale(1.2);
    }

    svg {
      fill: #4477CE;
    }
  }
}