@use '../../styles/unit' as u;
@use '../../styles/colors' as c;

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: u.rem-calc(375);
  min-height: 100vh;
  margin: 0 auto;
  padding: u.rem-calc(42 10 16);
  
  &_title {
    display: block;
    margin-bottom: u.rem-calc(8);
    font-family: var(--font-chivo);
    font-style: normal;
    font-weight: 900;
    font-size: u.rem-calc(32);
    text-align: center;
  }
  
  &_subtitle {
    display: block;
    margin-bottom: u.rem-calc(2);
    font-family: var(--font-fira-sans);
    font-weight: 500;
    font-size: u.rem-calc(16);
    text-align: center;
  }
}

.Action {
  width: 100%;
  margin-top: u.rem-calc(32);
  margin-bottom: u.rem-calc(32);
  
  &_title {
    display: block;
    margin-bottom: u.rem-calc(8);
    font-family: var(--font-chivo);
    font-style: normal;
    font-weight: 700;
    font-size: u.rem-calc(18);
    text-align: center;
  }

  &_buttons {
    margin-bottom: u.rem-calc(32);
    border: u.rem-calc(1) solid c.$border;
    border-radius: u.rem-calc(8);
  }

  button {
    $_this: &;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: u.rem-calc(16);
    font-family: var(--font-work-sans);
    font-weight: 500;
    font-size: u.rem-calc(16);
    text-align: left;
    color: c.$text-primary;
    border: 0;
    outline: 0;
    border-bottom: u.rem-calc(1) solid c.$border;
    background: none;
    cursor: pointer;
    appearance: none;

    span {
      display: block;
      margin-top: u.rem-calc(4);
      font-family: var(--font-fira-sans);
      font-weight: 400;
      font-size: u.rem-calc(12);
      line-height: u.rem-calc(18);
      text-align: left;
      color: c.$gray;
    }

    svg {
      width: u.rem-calc(16);
      fill: c.$white;
      flex-shrink: 0;
      transform: rotate(-90deg);
      opacity: 0.75;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}