@use 'sass:color';

$white: #F8F5E9;
$black: #373435;
$ochre: #b39f00;
$ochre2: #FADA7A;
$green: hsl(89.6351592706676 92.58781701659336% 59.27537734637012%);
$blue: #1d4177;
$light-blue: #0ea9de;
$text-primary: #f3f8ff;
$border: #27374d;
$icon: #4477CE;
$gray: #9DB2BF;
$divider: color.adjust(#F8F5E9, $lightness: -10%);
$divider: #e6e2d7;