@use 'colors' as c;

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: c.$white;
}

a {
  color: inherit;
  text-decoration: none;
}
