@use 'vw-calc' as vw;
@use 'colors' as c;
@use 'unit' as u;
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

.Divider {
  width: 25vw;
  height: 0;
  margin: 0 auto;
  border-bottom: u.rem-calc(1) solid c.$divider;
}