@use '../../styles/unit' as u;
@use '../../styles/colors' as c;

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: u.rem-calc(375);
  min-height: 100vh;
  margin: 0 auto;
  padding: u.rem-calc(42 10 16);
}

.Header {
  width: 100%;

  &_profile {
    width: u.rem-calc(100);
    height: u.rem-calc(100);
    margin: 0 auto u.rem-calc(16);
    border-radius: 100%;
    border: u.rem-calc(4) solid c.$icon;
    overflow: hidden;
  
    &Picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  &_title {
    display: block;
    margin-bottom: u.rem-calc(8);
    font-family: var(--font-chivo);
    font-style: normal;
    font-weight: 900;
    font-size: u.rem-calc(32);
    text-align: center;
  }
  
  &_subtitle {
    display: block;
    margin-bottom: u.rem-calc(2);
    font-family: var(--font-fira-sans);
    font-weight: 500;
    font-size: u.rem-calc(16);
    text-align: center;
  }
  
  &_company {
    display: block;
    font-family: var(--font-fira-sans);
    font-weight: 400;
    font-size: u.rem-calc(11);
    text-align: center;
    color: c.$gray;
  }

  &_buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: u.rem-calc(16);
  }
}

.AboutMe {
  width: 100%;
  padding: u.rem-calc(32 16 0);

  &_button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: none;
    appearance: none;

    svg {
      display: block;
      position: relative;
      top: u.rem-calc(1);
      width: u.rem-calc(20);
      height: auto;
      fill: #F3F8FF;
    }
  }

  &_icon {
    transform: rotate(0deg);
    transition: transform 250ms ease;

    &__open {
      transform: rotate(-180deg);
    }
  }
  
  &_title {
    display: block;
    margin-bottom: u.rem-calc(8);
    font-family: var(--font-chivo);
    font-style: normal;
    font-weight: 700;
    font-size: u.rem-calc(18);
    text-align: left;
    color: #F3F8FF;
  }

  &_panel {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    -webkit-line-clamp: none;
    text-overflow: ellipsis;
    // transition: max-height 250ms ease;
    
    &[aria-hidden='true'] {
      max-height: u.rem-calc(42);
      -webkit-line-clamp: 2;
    }

    p {
      font-family: var(--font-fira-sans);
      font-weight: 400;
      font-size: u.rem-calc(16);
      line-height: u.rem-calc(21);
      margin-bottom: u.rem-calc(12);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_read {
    display: inline-block;
    font-family: var(--font-work-sans);
    font-weight: 500;
    font-size: u.rem-calc(16);
    line-height: u.rem-calc(21);
    color: #F3F8FF;
    padding: u.rem-calc(2 6);
    margin-top: u.rem-calc(6);
    border: 0;
    outline: 0;
    border-radius: u.rem-calc(8);
    border: u.rem-calc(1) solid c.$border;
    background: none;
    cursor: pointer;
    appearance: none;
  }
}

.Options {
  width: 100%;
  padding: u.rem-calc(32 16 0);

  &_title {
    display: block;
    margin-bottom: u.rem-calc(8);
    font-family: var(--font-chivo);
    font-style: normal;
    font-weight: 700;
    font-size: u.rem-calc(18);
    text-align: left;
  }

  &_buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: u.rem-calc(16);
  }

  &_button {
    $_this: &;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: u.rem-calc(8);
    font-family: var(--font-work-sans);
    font-weight: 500;
    font-size: u.rem-calc(16);
    color: #F3F8FF;
    border-radius: u.rem-calc(8);
    border: u.rem-calc(1) solid c.$border;

    svg {
      display: block;
      width: u.rem-calc(32);
      height: auto;
      margin-bottom: u.rem-calc(6);
      fill: #4477CE;
      transition: transform 250ms ease;
    }

  
    &:hover svg {
      transform: scale(1.2);
    }
  }
}

.Action {
  width: 100%;
  padding: u.rem-calc(32 16 0);
  
  &_title {
    display: block;
    margin-bottom: u.rem-calc(8);
    font-family: var(--font-chivo);
    font-style: normal;
    font-weight: 700;
    font-size: u.rem-calc(18);
    text-align: left;
    // letter-spacing: u.rem-calc(1);
  }

  &_buttons {
    border: u.rem-calc(1) solid c.$border;
    border-radius: u.rem-calc(8);
  }
}

.Social {
  width: 100%;
  padding: u.rem-calc(32 16 0);
  
  &_title {
    display: block;
    margin-bottom: u.rem-calc(8);
    font-family: var(--font-chivo);
    font-style: normal;
    font-weight: 700;
    font-size: u.rem-calc(18);
    text-align: left;
    // letter-spacing: u.rem-calc(1);
  }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}
